body,button,h1,h3,h2,h4,h5,h6,p,dl,dd,ul,li,ol,td,form,input,fieldset,legend
{margin:0; padding:0;}
html,body{
	width:100%;
}
li{list-style:none;}
a{text-decoration:none; font-size:12px; color:#000;}
img{display:block; border:none;}
a,input{outline:none;border:none;}
button{border:none;}
em,i{font-style:normal;}
b,strong,h1,h2,h3,h4,h5,h6{font-weight:normal;}
.clear:after{content:""; display:block; clear:both; height:0; visibility:hidden;}
table{border-collapse:collapse;}

.border0{border:none;}
.w{
	width:1200px;
	height:100%;
	margin:0 auto;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
i,a,span,b{
	display:inline-block;
	
}
.footer-list{
	margin-right:137px;
}
.footer-list-space{
	margin-right:72px;
}
.footer-tit{
	margin-bottom: 18px;
	font-size: 14px;
    color: #343434;
    line-height: 26px;
}




$bg:#f5f5f5;
$color:#666d71;
$blue:#23a5f9;
$nav:#37a3ff;
$bgi:url(../images/web.png) no-repeat;
$bgchat:url(../images/pic.png) no-repeat;
